<hr>
<div class="row">
  <div class="col-sm-3">
    <label>Shipment Name</label><br />
      <%= @shipment.name %>
  </div>
  <div class="col-sm-3">
    <label>Available Budget</label><br />
      <%= @shipment.budget %>
  </div>
  <div class="col-sm-3">
    <label>Open For Bidding</label><br />
      <%= @shipment.open_for_bids %>
  </div>
  <div class="col-sm-3">
    <label>Winning Bid</label><br />
      <%= @shipment.winning_bid %>
  </div>
</div>
<hr>
<label>Dicription of Shipment</label><br />
<%= @shipment.description %>
<hr>

<div class="row">
  <div class="col-sm-3">
    <label>Pick Up Street Address </label><br />
    <%= @shipment.origin_street_address %>
  </div>
  <div class="col-sm-3">
    <label>Pick Up City</label><br />
    <%= @shipment.origin_city.titleize %>
  </div> 
  <div class="col-sm-3">
    <label>Pick Up State / Provence</label><br />
    <%= @shipment.origin_state_provence.upcase %> 
  </div>
  <div class="col-sm-3">
    <label>Pick Up Postal Code / Zip</label><br />
    <%= @shipment.origin_postal_code %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-sm-3">
    <label>Destination Street Address</label><br />
    <%= @destination.destination_street_address %>
  </div>
  <div class="col-sm-3">
    <label>Destination City</label><br />
    <%= @destination.destination_city.titleize %>
  </div>
  <div class="col-sm-3">
    <label>Destination State / Provence</label><br />
    <%= @destination.destination_state_provence.upcase %> 
  </div>
  <div class="col-sm-3">
    <label>Destination Postal Code / Zip</label><br />
    <%= @destination.destination_postal_code %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-sm-3">
    <label>Pick Up Latiude</label><br />
    <%= @shipment.origin_latitude %>
  </div>
  <div class="col-sm-3">
    <label>Pick Up Longitude</label><br />
    <%= @shipment.origin_longitude %>
  </div>
  <div class="col-sm-3">
    <label>Destination Latiude</label><br />
    <%= @destination.destination_latitude %>
  </div>
  <div class="col-sm-3">
    <label>Destination Longitude</label><br />
    <%= @destination.destination_longitude %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-sm-3">
    <label>Shipment Posted</label><br />
    about <%= time_ago_in_words(@shipment.created_at) %> ago
  </div>
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <%= link_to "Edit Shipment", edit_shipment_path(@shipment) %>
  </div>  
  <div class="col-sm-3">
    <%= link_to "Delete Shipment", @shipment, method: :delete, 
    data: {confirm: "Are you sure you want to delete this shipment?"} %>
  </div>
</div>
<hr>

<!--google map start-->

<div class="row">
  <div class="col-sm-5">
    <div class="contact-map">
      <div id="map-canvas" style="width: 75%; height: 300px"> 
    </div>
  </div>
</div>
  <div class="col-sm-2"></div>
  <div class="col-sm-5">
    <div class="contact-map">
      <div id="map-canvas2" style="width: 75%; height: 300px">
    </div>
  </div>
</div>
</div>
<!--google map end-->


<%= render "shipments/map_script" %>




